.topbar{
    text-align: center;
    color: black;
    font-size: 2rem;
    padding-bottom: 5px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  margin-left: 41%;;
  }
  
.btn {
  margin: 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  font-size: 5rem;
  font-family:fantasy;
  text-align: center;
  color: white;
}

.btn:hover{
    cursor: pointer;
  }
  
.red{
    background-color: red;
  }
  
.blue{
    background-color: blue;
  }
  
.green{
    background-color: green;
  }
  
.yellow{
    background-color: yellow;
  }

.pressed{
  box-shadow: 2px 2px 4px white;
  background-color: gray;
}
  
.wrong{
  background-color: red;
}